<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553877198554-1fpd3fefeikkbor3bed9697jfk3luid0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553877198554-1fpd3fefeikkbor3bed9697jfk3luid0</string>
	<key>API_KEY</key>
	<string>AIzaSyA2JOZ_HxZGwbGC4IFXhAtam_flZ9h5j6I</string>
	<key>GCM_SENDER_ID</key>
	<string>553877198554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mukund-vaghasiya.FireStoreSwiftui</string>
	<key>PROJECT_ID</key>
	<string>firefirebasestore</string>
	<key>STORAGE_BUCKET</key>
	<string>firefirebasestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553877198554:ios:9c2a0dce79427466c9b7e3</string>
</dict>
</plist>